body {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial;
    background-color: #ccc;
}

.paddingSite {
    padding: 50px;
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    background-color: #445162;
    color: #fff;
    /*Высота хедера не 323px (как в макете) потому что маржин поставил между заголовком и списком 50px. Если его уменьшить, чтоб общая высота шапки была 323px, то он считай совсем пропадет. Полагаю Markupeasy не совсем точные данные выдает касаемо шрифтов.*/
}

.main-header::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrp {
    float: left;
}

.main-header-title {
    margin: 0 0 50px 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
}

.main-header-list {
    margin: 0;
    list-style-type: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    padding: 0 0 0 36px;
}

.main-header-list-item {
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 3px;
    left: -36px;
    background-image: url(../img/check_icon.png); /*Из макета далось извлечь только в пнг, конвертировал в свг в интернете, но почему то при вставке свг - галка не отображалась*/
    background-size: cover;
}

.main-header-img {
    display: block;
    background-color: #fff;
    color: #000;
    float: right;
}

.about-product {
    width: 100%;
    background-color: #fff;
}

.about-product::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-product-wrp {
    width: 650px;
    float: left;
}

.about-product-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 30px 0;
    display: block;
}

.about-product-p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 0 0 20px 0;
}

.about-product-p:last-child {
    margin: 0;
}

.about-product-video {
    background-color: #445161;
    float: right;
}

.dignity {
    background-color: #f5f5f5;
}

.dignity-title {
    text-align: center;
    display: block;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 29px 0;
}

.dignity-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dignity-list::after {
    content: "";
    width: 100%;
    display: block;
    clear: both;
}

.dignity-list-item {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    width: 529px;
    padding: 0 0 0 45px;
    float: left;
    position: relative;
}

.dignity-list-item::before {
    content: "+";
    color: #ffffff;
    font-size: 47px;
    padding: 6px;
    display: block;
    width: 28px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #445161;
}

.dignity-list-item:nth-child(1),
.dignity-list-item:nth-child(3) {
    margin: 0 23px 35px 0;
}

.dignity-list-item:nth-child(5) {
    margin: 0 23px 0 0;
}

.screenshots {
    background-color: #ffffff;
}

.screenshots::after {
    content: "";
    width: 100%;
    display: block;
    clear: both;
}

.screenshots-title {
    display: block;
    text-align: center;
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.screenshots-imgAndInfo {
    margin: 35px 16px 0 0;
    width: 574px;
    float: left;
}

.screenshots-img {
    display: block;
    background-color: #445161;
    color: #fff;
    float: left;
    margin: 0 12px 0 0;
}

.screenshots-img::after {
    content: "";
    width: 100%;
    display: block;
    clear: both;
}

.screenshots-info {
    margin: 0;
}

.screenshots-info-title {
    font-size: 24px;
    line-height: 22px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 15px 0;
    display: block;
}

.screenshots-info-p {
    margin: 0;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #333333;
}

.reviews {
    background-color: #f5f5f5;
}

.reviews-title {
    display: block;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 35px 0;
}

.reviews-wrp::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.reviews-user {
    width: 573px;
    float: left;
}

.reviews-user:nth-child(1) {
    margin: 0 17px 24px 0;
}

.reviews-user:nth-child(2) {
    margin: 0 0 24px 0;
}

.reviews-user:nth-child(3) {
    margin: 0 17px 0 0;
}

.reviews-user:nth-child(4) {
    margin: 0;
}

.reviews-user:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.reviews-user-photo {
    display: block;
    color: #fff;
    border-radius: 38px;
    background-color: #445161;
    float: left;
}

.reviews-user-wrp {
    width: 480px;
    background-color: #ebebeb;
    border-radius: 15px;
    position: relative;
    float: right;
    box-sizing: border-box;
    padding: 16px;
}

.reviews-user-wrp::before {
    content: "";
    display: block;
    border: 15px solid transparent;
    border-right: 15px solid #ebebeb;
    position: absolute;
    top: 28px;
    left: -28px;
}

.reviews-user-comment {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
}

.reviews-user-address {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
}

.priceList {
    background-color: #fff;
    display: flex;
    flex-wrap:wrap;
    align-items:flex-end;
    justify-content: space-evenly;
}

.priceList-title {
    display: block;
    width: 100%;
    margin: 0 0 29px 0;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.priceList-package {
    width: 300px;
    background-color: #445162;
    border-radius: 10px;
}

/*Не знаю правильно или нет. Вопрос с нижним отступом после кнопки решил сделать таким образом, т.к. маржин не тянул за собой фон блока родителя, а паддинг тянул фон кнопки*/
.priceList-package::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
}

.priceList-package-name {
    display: block;
    text-align: center;
    padding: 16px 0 17px 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    word-break: break-all;
}

.priceList-package-price {
    display: block;
    text-align: center;
    padding: 18px 0;
    background-color: #fff;
    border: 2px solid #445162;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    word-break: break-all;
}

.priceList-package-list {
    margin: 0;
    padding: 19px 19px 19px 37px;
}

.priceList-package-list-item {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    word-break: break-all;
}

.priceList-package-button {
    text-decoration: none;
    display: block;
    border-radius: 10px;
    width: 260px;
    margin: 0 auto;
    padding: 14px 0 13px 0;
    background-color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-transform: uppercase;
    word-break: break-all;
}

.priceList-package-button:hover {
    box-shadow: 6px 4px 6px 2px rgba(50, 50, 50, 0.81);
}

.priceList-package-button:active {
    box-shadow: none;
}

.main-footer-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1280px;
    background-color: #445161;
}

.main-footer-title {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 31px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

.main-footer-form-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 46px 0 0;
}


.main-footer-formRows {
    width: 100%;
    margin: 0 0 21px 0;
    padding: 14px 10px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
}

.main-footer-formRows::-webkit-input-placeholder {
    font-family: Arial;
    text-overflow:ellipsis;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.main-footer-formRows:hover {
    background-color: #ccc;
    border-color: blue;
}

.main-footer-formRows:hover::placeholder {
    color: blue;
}

.main-footer-form-wrp textarea {
    width: 500px;
    height: 170px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
}

.main-footer-formSubmit {
    border-radius: 5px;
    background-color: #ffffff;
    width: 140px;
    padding: 9px;
    text-transform: uppercase;
    color:  #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    outline: none;
}

.main-footer-formSubmit:hover {
    background-color: #ccc;
    color: blue;
}

.main-footer-formSubmit:active {
    background-color: #ffffff;
    color: #445162;
}

.main-footer-contacts {
    display: block;
    position: relative;
    margin: 0 0 23px 0;
    padding: 0 0 0 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.main-footer-contacts:nth-child(1)::before {
    content: "";
    display: block;
    width: 27px;
    height: 29px;
    position: absolute;
    left: 0;
    background-image: url(../img/skype_icon.png);
    background-size: cover;
}

.main-footer-contacts:nth-child(2)::before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    left: 0;
    background-image: url(../img/icq_icon.png);
    background-size: cover;
}

.main-footer-contacts:nth-child(3)::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    background-image: url(../img/email_icon.png);
    background-size: cover;
}

.main-footer-contacts:nth-child(4)::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    background-image: url(../img/phone_icon.png);
    background-size: cover;
}

.main-footer-icons-wrp {
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.main-footer-icon {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    text-decoration: none;
    color: #445161;
    font-size: 20px;
}

.main-footer-icon:hover {
    color: blue;
}

.main-footer-icon:active {
    color: #ccc;
}

.main-footer-bottomRow {
    width: 1280px;
    background-color: #f5f5f5;
    text-align: center;
}

.main-footer-bottomRow p {
    margin: 0;
    font-size: 13px;
    color: #445162;
    font-weight: 400;
    line-height: 23px;
}